# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/
*.venv

# Ignore logs and temporary files
logs/
*.log
